.container {
  display: flex;
  background: url("../images/background.jpg");
  background-repeat: cover;
}
#menubar {
  margin: auto;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}
#menubar a {
  text-decoration: none;

  color: #d18093;
  display: block;
}
.dropbtn {
  background: url("../images/background.jpg");
  margin: auto;
  color: #d18093;
  font-size: 20px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*css for Index Page */
#hero {
  background-image: url("../images/shagging.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: auto;
  margin: 0 auto;
}

#description {
  font-family: Arial, Helvetica, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  color: #d18093;
  font-size: 20px;
  padding-top: 2%;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

/*css for About page */

#AboutUs {
  float: left;
  padding-right: 10px;
}
#AboutUs p {
  font-family: "Times New Roman", Times, serif;
  color: #070707;
  font-size: 20px;
  padding-left: 10px;

  text-align: left;
}
/* Cats Pages */
#Catsname {
  font-family: cursive;
  font-size: 64px;
  color: #d18093;
  text-align: center;
}
