.container {
  display: flex;
  background: url("../images/background.JPG");
  background-repeat: cover;
}
#menubar {
  margin: auto;
  list-style: none;
  gap: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}
#menubar a {
  text-decoration: none;

  color: #be2246;
  display: block;
}


/*css for Index Page */
#hero {
  background-image: url("../images/kittens.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: auto;
  margin: 0 auto;
}

#description {
  font-family: Arial, Helvetica, sans-serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  color: #be2246;
  font-size: 20px;
  padding-top: 2%;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

/*css for About page */

#AboutUs {
  float: left;
  padding-right: 10px;
}
#AboutUs p {
  font-family: "Times New Roman", Times, serif;
  color: #070707;
  font-size: 20px;
  padding-left: 20%;
  padding-right: 20%;

  margin: 0;
}

#AboutUs h1 {
  font-family: "Times New Roman", Times, serif;
  color: #be2246;
  font-size: 100px;
  padding-left: 10px;
  text-align: center;
}
#AboutUs h2 {
  font-family: "Times New Roman", Times, serif;
  color: #be2246;
  font-size: 50px;
  padding-left: 10px;
  text-align: center;
  background: url("../images/background.jpg");
  background-repeat: cover;
}
/* Cats Pages */
.Girlscontainer{
  display: flex;
  gap: 10px;
}

#Catsname {
  font-family: cursive;
  font-size: 64px;
  color: #be2246;
  text-align: center;
  width:50%
}
#Catsname p{
  font-family: cursive;
  font-size: 32px;
  color: #420f1b;
  text-align: center;
  
}
img {
  float: left;
  border: 20px;
}

#newkittens{
  font-family: cursive;
  font-size: 32px;
  color: #be2246;
  text-align: center;
  
}

#links p {
  font-family: "Times New Roman", Times, serif;
  color: #070707;
  font-size: 20px;
padding-top: 20px;
padding-left:30%;
display:flex;

  margin: 0;
}